{{>head}}
<body>
  <main>
    <h1><a href="/">home</a> > <a href="/fish">fishes</a> > {{name}}</h1>
    <img class="frame" src="{{image_uri}}" />
    <blockquote>
      {{museum_phrase}}
    </blockquote>
  </main>
{{>footer}}
</body>
</html>