{{>headFish}}
<body>
  <main>
    <h1><a href="/">home</a> > <a href="/fish">fishes</a> > {{name}}</h1>
    <img class="frame" src="{{image_uri}}" alt="{{image_alt}}" />
    <blockquote>
      {{museum_phrase}}
    </blockquote>
    <h2>Community notes ✏️</h2>
    <textarea id="comments" placeholder="add your comment!"></textarea>
    <button id="save-comments-btn">save comments!</button>
    <span class="saved-msg hide">saved ☑️!</span>
  </main>
{{>footer}}
</body>
</html>