{{>head}}
<body>
  {{>header}}
  <main>
    <h1><a href="/">home</a> > <a href="/sea-creatures">sea creatures</a> > {{name}}</h1>
    <img class="frame" src="{{image_uri}}" alt="{{image_alt}}" />
    <blockquote>
      {{museum_phrase}}
    </blockquote>
  </main>
{{>footer}}
</body>
</html>