{{>head}}
<body>
  {{>header}}
  <main>
    <img class="frame" src="{{image_uri}}" alt="{{image_alt}}" />
    <blockquote>
      {{museum_phrase}}
    </blockquote>
  </main>
{{>footer}}
</body>
</html>