{{>head}}
<body>
  <main>
    <h1><a href="/">home</a> > <a href="/villagers">villagers</a> > {{name}}</h1>
    <img class="frame" src="{{image_uri}}" />
    <h2>Catch phrase 💭</h2>
    <blockquote>
      {{catch_phrase}}
    </blockquote>
  </main>
</body>
{{>footer}}