  <header>
    <nav>
      <a href="/" class="home-link">AC Handbook 📓</a>
      <ul class="site-nav">
        <li><a href="/fish">fish</a></li>
        <li><a href="/sea-creatures">sea-creatures</a></li>
        <li><a href="villagers">villagers</a></li>
        <li><a href="bugs">bugs</href></li>
        <li><a href="fossils">fossils</a></li>
      </ul>
    </nav>
  </header>