  <header>
    <nav>
      <a href="/" class="home-link"><span class="full-site-title">Animal Crossing</span> <img class="site-icon" alt="blathers - home link" src="/images/Blathers_NH_Character_Icon.png"></a>
      <div class="site-nav-container">
        <button class="burger">🍔</button>
        <ul class="site-nav expanded">
          <li><a href="/fish">fish</a></li>
          <li><a href="/villagers">villagers</a></li>
          <li><a href="/bugs">bugs</href></li>
          <li><a href="/fossils">fossils</a></li>
        </ul>
      </div>
    </nav>
  </header>