body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
  line-height: 1.5;
  color: #c48d3f;
  margin: 0 0 24px 0;
  padding: 0px;
  background-image: url('../images/animal-crossing-new-horizons-1million-artwork.jpg');
  word-wrap: break-word;
}

a {
  color: #6be4ea;
  font-weight: bold;
}

img {
  margin-bottom: 24px;
  width: 100%;
  box-sizing: border-box;
}

.frame {
  border: 6px double #c48d3f; 
}

p {
  margin-bottom: 1.5em;
}

blockquote {
  font-style: italic;
  margin: .5em 1em 1.5em 1em;
}

header {
  background-color: #b38d4f;
  color: #fbfbfd;
  font-weight: bold;
  padding: .25em 1.75em;
  margin-bottom: 1em;
}

header nav {
  display: flex;
  flex-direction: row;
}

.home-link {
  width: 30%;
  display: block;
  color: #fcfafb;
  text-decoration: none;
  line-height: 2;
  text-align: left;
}

.site-nav {
  width: 70%;
  margin: 0;
  padding: 0;
  text-align: right;
}

.site-nav a {
  color: #fcfafb;
  text-decoration: none;
}

.site-nav li {
  display: inline-block;
  margin-right: .75em;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 780px;
  margin: 0 auto;
}

.container {
  background-color: rgba(255, 255, 255, 0.95);
}

.container > h1 {
  width: 100%;
  border-bottom: 2px dashed #b38d4f;
  font-size: 1.5em;
  text-align: left;
  padding: .5em;
  margin: .25em;
}

main {
  background-color: rgba(255, 255, 255, 0.95);
  /* background-color: red; */
  margin: 0px auto;
  min-height: 480px;
  padding: 32px;
  width: 55%;
  box-sizing: border-box;
}

ul {
  display: inline-block;
  padding-left: 0px;
  text-align: left;
  margin-bottom: 1.5em;
  line-height: 2;
}

aside {
  box-sizing: border-box;
  /* background-color: green; */
  background-color: rgba(255, 255, 255, 0.95);
  width: 45%;
  padding: 1em;
  font-size: .70em;
}

footer {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.95);
  /* background-color:  blue; */
  margin-top: 24px;
  padding-top: 24px;
  border-top: 4px #c48d3f dashed;
  padding: 32px;
  width: 100%;
  margin: 0px auto;
}

#new-comment-field {
  width: 100%;
  padding: 1.2em;
  box-sizing: border-box;
  height: 7em;
}

.saved-msg {
  display: block;
  margin-top: 1em;
}

.hide {
  display: none;
}

.error {
  color:	white;
  background-color: #EC6C6D;
  padding: 1em;
}

.comments {
  display: block;
}

.comments li {
  line-height: 1.25;
  list-style-type: none;
  background-color: #fdef75;
  margin: .6em 0;
  padding: .40em 1em;
  color: #ee6f69;
  font-size: .75em;
  font-weight: 600;
}

.comments .comment-body {
  white-space: break-spaces;
}

.comments .timeStamp {
  display: block;
  font-size: .7em;
  font-weight: normal;
  border-bottom: 1px dashed #c48d3f;
  margin-bottom: .75em;
  padding-bottom: .5em;
}

.things {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: .25em;
  row-gap: .25em;
}

.things div {
  box-sizing: border-box;
  border: 6px double #c48d3f;
  padding: .35em 0 0 0;
}

.things a {
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 16px;
  }

  main, footer, img {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }

  aside, main {
    width: 100%;
  }
}