body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
  line-height: 1.5;
  color: #c48d3f;
  margin: 24px 0 24px 0;
  padding: 0px;
  background-image: url('../images/animal-crossing-new-horizons-1million-artwork.jpg');
  word-wrap: break-word;
}

a {
  color: #81f1f7;
  font-weight: bold;
}

img {
  margin-bottom: 24px;
  width: 480px;
  box-sizing: border-box;
}

.frame {
  border: 6px double #c48d3f; 
}

p {
  margin-bottom: 1.5em;
}

blockquote {
  font-style: italic;
  margin-bottom: 1.5em;
}

main {
  background-color: rgba(255, 255, 255, 0.95);
  margin: 0px auto;
  min-height: 480px;
  padding: 32px;
  width: 480px;
}

ul {
  display: inline-block;
  padding-left: 0px;
  text-align: left;
  margin-bottom: 1.5em;
  line-height: 2;
}

footer {
  background-color: rgba(255, 255, 255, 0.95);
  margin-top: 24px;
  padding-top: 24px;
  border-top: 4px #c48d3f dashed;
  padding: 32px;
  width: 480px;
  margin: 0px auto;
}

#new-comment-field {
  width: 100%;
  padding: 1.2em;
  box-sizing: border-box;
  height: 7em;
}

.saved-msg {
  display: block;
  margin-top: 1em;
}

.hide {
  display: none;
}

.error {
  color:	white;
  background-color: #EC6C6D;
  padding: 1em;
}

.comments {
  display: block;
}

.comments li {
  line-height: 1.25;
  list-style-type: none;
  background-color: #fdef75;
  margin: .6em 0;
  padding: .40em 1em;
  color: #ee6f69;
  font-size: .75em;
  font-weight: 600;
}

.comments .comment-body {
  white-space: break-spaces;
}

.comments .timeStamp {
  display: block;
  font-size: .7em;
  font-weight: normal;
  border-bottom: 1px dashed #c48d3f;
  margin-bottom: .75em;
  padding-bottom: .5em;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 16px;
  }

  main, footer, img {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
}