body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  margin: 0px;
  padding: 0px;
}

main {
  background-color: aqua;
  text-align: center;
  margin: 0px auto;
  min-height: 840px;
  padding: 32px;
  width: 960px;
}

ul {
  display: inline-block;
  padding-left: 0px;
  text-align: left;
}